@mixin clear_mix
{
  &:after
  {
    content: '';
    clear: both;
    display:block;
  }
}

.clearRow
{
  @include clear_mix;
}

body
{
  background: url("/images/background.png");
  margin: 0px;
  font-family: sans-serif;
}

.largeFont
{
  font-size: 16px;
}

.mediumFont
{
  font-size: 14px;
}

.smallFont
{
  font-size: 12px;
}


.sliderDiv
{
  border: 1px solid red;
  width: 60%;
  margin-left:20%;
  margin-right: 20%;
  img
  {
    width: 100%;
  }
}

.mainDiv
{
  position: relative;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 3px black;
  h1, h4
  {
    margin: 7px;
    color: white;
  }
}

.mainDiv > div:first-of-type
{
  background: url("/images/stadiumBack.jpg");
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  filter: opacity(70%) blur(1px);
}

.mainDiv > div:nth-of-type(2)
{
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}


.detailsHeadOuter
{
  background-color: #5f5f5f;
  color: white;
  text-align: center;
}

.matchDetailsOuter
{
  background-color: white;
  line-height: 20px;
  text-align: center;
}

.matchDetails
{
  border-bottom: 1px solid gray;
  @include clear_mix;
  padding-bottom: 20px;
}

.matchDetails > div:first-of-type, .detailsHead > div:first-of-type
{
  width: 30%;
  float: left;
  div{
    padding: 5px;
  }
}

.matchDetails > div:nth-of-type(2), .detailsHead > div:nth-of-type(2)
{
  width: 70%;
  float: left;
  div{
    padding: 5px;
  }
}


.sliderDivLogo
{
  overflow:hidden;
  background-color: white;
  padding: 10px;
}

.logoAndPercent
{
  border: 1px solid black;
}

.favourites
{
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding: 5px;
  margin: 0px;
  float: left;
}

.favourites div:first-of-type
{
  text-align: center;
  float: left;
  height: 100%;
}

.logoAndPercent div:nth-of-type(2)
{
  text-align: center;
  float: right;
  width: calc(100% - 120px);
  border: 1px solid brown;
  height: 30px;
}

.logoAndPercent div:nth-of-type(3)
{
  text-align: center;
  width: calc(100% - 120px);
  float: right;
  padding: 10px;
  font-weight: bold;
  color: #F44336;
  box-sizing: border-box;
}

.logoAndPercent div:nth-of-type(4)
{
  text-align: center;
  float: right;
  width: calc(100% - 120px);
  height: 30px;
  margin-top: 5px;
  span
  {
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;
  }
  span:hover
  {
    box-shadow: 0px 0px 3px #034fff;
  }
}

#srh > div, #mi > div, #kkr > div, #rcb > div,
#rps > div, #gl > div, #dd > div, #kp > div
{
  height: 100%;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#458c48, green, #66a068); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#458c48, green, #66a068); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#458c48, green, #66a068); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#458c48, green, #66a068); /* Standard syntax */
}

.venuesForIpl
{
  background-color: white;
  padding: 0px;
}

.groundsHead
{
  color: white;
  background-color: #5f5f5f;
}

.grounds
{
  clear: both;
  padding: 1em;
  border: 1px solid gray;
}

.grounds > div:first-of-type
{
  padding: 5px;
}

.links
{
  width: 100%;
  padding: 2px;
  @include clear_mix;
  div
  {
    float: right;
    margin-right: 5px;
  }
  span{
    display: inline-block;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 0px 2px black;
  }
  span{
    cursor: pointer;
  }

}

.links > div:first-of-type span
{
  background-color: #70a1c3;
}

.links > div:nth-of-type(2) span
{
  background-color: rgba(197, 139, 67, 0.81);
}

.links > div:first-of-type span:hover
{
  background-color: #4f7fa0;
}

.links > div:nth-of-type(2) span:hover
{
  background-color: rgba(177, 122, 55, 0.99);
}
